/* Reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 1500px;
    margin: 0 auto;
    font-family: sans-serif;
}

a{
    text-decoration: none;
}

/* utils */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.darken{
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
}

/* header */
.page-header{
    margin-bottom: 30px;
}

.page-header figure{
    margin-bottom: 20px;
}

.page-header img{
    height: 75px;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    padding-right: 30px;
}

.page-header a{
    color: gray;
}

/* main  */
main{
    margin: 30px auto;
}

#top-content{
    height: 650px;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}

#top-content > div{

    padding: 0 30px;
    padding-top: 400px;
    border-radius: 15px;
}

#top-content .darken > div{
    color: white;

    font-size: x-large;
    width: 60%;
}

#top-content h1{
    font-weight: 300;
}

#top-content p{
    font-size: 20px;
}